<a href="https://colab.research.google.com/github/PeeranatK/ML-university-year4/blob/main/feature_scaling_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import math

df=pd.read_csv('house_data_train.csv', index_col = 0)
df = df.dropna()
df.columns
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9469,2422049107,20140508T000000,350000.0,4.0,1.75,2250,13515,1.0,0,0,...,8,2150,100,1940,0,98030,47.3789,-122.229,2150,12508
15048,6151800225,20150409T000000,475000.0,3.0,1.75,1850,26445,1.0,0,0,...,7,1850,0,1962,1977,98010,47.3412,-122.051,2110,23280
3728,2919701105,20141209T000000,422000.0,2.0,1.75,1320,2609,1.0,0,0,...,7,920,400,1938,0,98117,47.6878,-122.366,1200,4220
2552,4137060270,20150105T000000,313000.0,4.0,2.50,2460,10320,2.0,0,0,...,8,2460,0,1993,0,98092,47.2599,-122.215,2210,9024
3275,818500490,20141009T000000,153503.0,2.0,2.50,1240,3649,2.0,0,0,...,7,1240,0,1986,0,98003,47.3241,-122.322,1400,3721

In [ ]:
print(df.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_living', 'floors', 'waterfront', 'view', 'grade', 'sqft_above', 'sqft_basement']
X=df[features]
Y=df['price']

W=Y.std()

Y=np.array((Y-Y.mean())/Y.std())

M=X.mean()
X=X.apply(lambda rec:(rec-rec.mean())/rec.std(),axis=0)
M

bedrooms             3.367469
bathrooms            2.112701
sqft_living       2081.468580
sqft_lot         14987.381420
floors               1.492346
sqft_living       2081.468580
floors               1.492346
waterfront           0.007963
view                 0.237222
grade                7.656111
sqft_above        1789.841728
sqft_basement      291.626852
dtype: float64

In [ ]:
def initialize(dim):
    b=random.random()
    a=np.random.rand(dim)
    return b,a

In [ ]:
def predict_Y(b,a,X):
    return b + np.dot(X,a)

In [ ]:
def get_cost(Y,Y_hat):
    Y_resd=Y-Y_hat
    return np.sum(np.dot(Y_resd.T,Y_resd))/len(Y-Y_resd)

In [ ]:
def update_theta(x,y,y_hat,b_0,theta_o,learning_rate):
    db=(np.sum(y_hat-y)*2)/len(y)
    dw=(np.dot((y_hat-y),x)*2)/len(y)
    b_1=b_0-learning_rate*db
    theta_1=theta_o-learning_rate*dw
    return b_1,theta_1

In [ ]:
def run_gradient_descent(X,Y,alpha,num_iterations):
    tolerance = 1e-8
    b,theta=initialize(X.shape[1])
    num_weight = len(features)
    weights = [f'weights_a{i}' for i in range(num_weight)]
    gd_iterations_df=pd.DataFrame(columns=['iteration','value_b', *weights, 'cost'])
    result_idx=0
    prev_cost = 0
    for iter_num in range(num_iterations):
        Y_hat=predict_Y(b,theta,X)
        this_cost=get_cost(Y,Y_hat)
        prev_b=b
        prev_theta=theta
        b,theta=update_theta(X,Y,Y_hat,prev_b,prev_theta,alpha)
        gd_iterations_df.loc[result_idx]=[iter_num,b, *theta[:num_weight] , this_cost]
        result_idx=result_idx+1
        if (np.abs(this_cost - prev_cost)<tolerance):
          print(np.abs(this_cost - prev_cost))
          break
        prev_cost = this_cost
    return gd_iterations_df,b,theta

gd_iterations_df,b,theta=run_gradient_descent(X,Y,alpha=0.01,num_iterations=1000)
#gd_iterations_df.head(5)
gd_iterations_df

,iteration,value_b,weights_a0,weights_a1,weights_a2,weights_a3,weights_a4,weights_a5,weights_a6,weights_a7,weights_a8,weights_a9,weights_a10,weights_a11,cost
0,0.0,6.974990e-01,0.766114,0.757401,0.070672,0.848610,0.445959,0.173383,0.171262,0.656472,0.063433,0.585648,0.587476,0.546309,9.545581
1,1.0,6.835490e-01,0.729869,0.713136,0.026076,0.826037,0.417518,0.128786,0.142820,0.643486,0.049565,0.547819,0.546429,0.530662,7.977792
2,2.0,6.698780e-01,0.696893,0.673325,-0.013614,0.804657,0.392129,0.089097,0.117432,0.631288,0.037298,0.514304,0.510032,0.516485,6.716712
3,3.0,6.564805e-01,0.666844,0.637496,-0.048918,0.784363,0.369463,0.053793,0.094766,0.619805,0.026465,0.484641,0.477789,0.503628,5.700966
4,4.0,6.433508e-01,0.639418,0.605229,-0.080301,0.765062,0.349225,0.022409,0.074528,0.608971,0.016916,0.458417,0.449255,0.491958,4.881507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995.0,1.298640e-09,-0.092390,-0.032919,-0.094589,-0.047611,0.125632,0.008122,-0.149065,0.138968,0.124741,0.309987,0.521653,0.326553,0.404495
996,996.0,1.272667e-09,-0.092392,-0.032924,-0.094585,-0.047612,0.125634,0.008126,-0.149064,0.138967,0.124742,0.309980,0.521656,0.326555,0.404495
997,997.0,1.247214e-09,-0.092394,-0.032929,-0.094581,-0.047612,0.125635,0.008129,-0.149062,0.138967,0.124742,0.309972,0.521660,0.326556,0.404495
998,998.0,1.222270e-09,-0.092396,-0.032934,-0.094578,-0.047613,0.125636,0.008133,-0.149061,0.138966,0.124742,0.309965,0.521663,0.326557,0.404495
999,999.0,1.197824e-09,-0.092398,-0.032939,-0.094574,-0.047614,0.125637,0.008136,-0.149060,0.138966,0.124742,0.309958,0.521666,0.326559,0.404495

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

from sklearn.pipeline import Pipeline

from sklearn.linear_model import Ridge

X_train=df[features]
y_train=df['price']

for i in range(1,2):

  steps = [("imp_mean", SimpleImputer()),
          ("scaler" , StandardScaler()),
          ("tranform" , PolynomialFeatures(degree = i)),
          ("liReg" , LinearRegression())]

  pipeline = Pipeline(steps)
  pipeline.fit(X_train,y_train)
  rscore = pipeline.score(X_train, y_train)

  # pr=PolynomialFeatures(degree=i)
  # X_train_pr = pr.fit_transform(X_train)

  # ridgeRed = Ridge(alpha=i,normalize=True)
  # ridgeRed.fit(X_train_pr,y_train)

  # Ypred_train = ridgeRed.predict(X_train_pr)

  # rscore2 = pipeline.score(X_train, y_train)
  # y_pred = pipeline.predict(X_train)

  print(i, "test: ", rscore, )
  # print(i,"pr",Ypred_train)

1 test:  0.5954748846960441

In [ ]:
idx = gd_iterations_df['cost'].argmin()
print(gd_iterations_df.loc[idx, 'cost'])
# best_parameters = gd_iterations_df.loc[idx, ['value_b', 'weight_a1', 'weight_a2']]
num_weight = len(features)
weights = [f'weights_a{i}' for i in range(num_weight)]
best_parameters = gd_iterations_df.loc[idx, ['value_b', *weights]]
best_parameters

0.40449543333654003

value_b        1.197824e-09
weights_a0    -9.239830e-02
weights_a1    -3.293882e-02
weights_a2    -9.457417e-02
weights_a3    -4.761366e-02
weights_a4     1.256374e-01
weights_a5     8.136327e-03
weights_a6    -1.490598e-01
weights_a7     1.389657e-01
weights_a8     1.247419e-01
weights_a9     3.099579e-01
weights_a10    5.216662e-01
weights_a11    3.265586e-01
Name: 999, dtype: float64

In [ ]:
row = 3
test_z = 0
for i in range(len(features)) :
  test_z += ((df.loc[row, features[i]] - df[features[i]].mean()) / df[features[i]].std()) * best_parameters[f"weights_a{i}"]
# z = (
#       ( +
#       ((df.loc[i, features[1]] - df[features[1]].mean()) / df[features[1]].std()) * best_parameters["weights_a1"] +
#       ((df.loc[i, features[2]] - df[features[2]].mean()) / df[features[2]].std()) * best_parameters["weights_a2"] +
#       ((df.loc[i, features[3]] - df[features[3]].mean()) / df[features[3]].std()) * best_parameters["weights_a3"] +
#       ((df.loc[i, features[4]] - df[features[4]].mean()) / df[features[4]].std()) * best_parameters["weights_a4"] +
#       ((df.loc[i, features[5]] - df[features[5]].mean()) / df[features[5]].std()) * best_parameters["weights_a5"] +
# )
test_z += best_parameters["value_b"]
print(test_z)

-0.29146045883702226

In [ ]:
test_z = (test_z * df["price"].std()) + df["price"].mean()
print(test_z)

432763.5939290767

In [ ]:
df.loc[i, [*features, 'price']]

bedrooms              2.0
bathrooms             1.0
sqft_living          1160
sqft_lot             6000
floors                1.0
sqft_living          1160
floors                1.0
waterfront              0
view                    0
grade                   7
sqft_above            860
sqft_basement         300
price            468000.0
Name: 11, dtype: object

In [ ]:
Y

array([-0.51308483, -0.1783598 , -0.32028321, ...,  0.29022845,
        1.22748529, -0.70053084])

In [ ]:
import numpy as np
y_test_pred = np.array((best_parameters[weights].values)) * X + best_parameters["value_b"]
a = np.sum(y_test_pred, axis=1)
print(a)

9469     0.083267
15048   -0.319201
3728    -0.427512
2552     0.112539
3275    -0.590836
           ...
198     -0.410726
12076    0.150631
8709     0.210067
18794    0.793282
676     -0.604922
Length: 16200, dtype: float64

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, mean_absolute_error

mse = mean_squared_error(Y, a)
mae = mean_absolute_error(Y, a)
r2score = r2_score(Y, a)
print('r2-score:', r2score, '\nmean squared error:', mse.round(2), '\nmean absolute error:', mae.round(2))

r2-score: 0.5954796083366116
mean squared error: 0.4
mean absolute error: 0.42